* {
  margin:0px;
  padding:0px;
}

img {
  display: block;
  width:600px;
  margin: 1px auto;
  
}

p {
  display: block;
  width: 300px;
  margin: 1px auto;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 30px;
  font-style: italic;
  color: rgb(252, 5, 128);

}
